@using Newtonsoft.Json

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "_lostBookDetails";
}

<div class="container-fluid">
    <div class="row" style="padding: 20px; margin-top: 55px;">
        <div style="margin-bottom: 10px;font-weight: bold;">Books Lost Details</div>
        <div id="lostbookdetails"></div>
    </div>
</div>

    <script>
    $(function() {
        var bookdetailsList = @Html.Raw(JsonConvert.SerializeObject(ViewBag.BookDetails));
        bookdetailsList = ej.parseJSON(bookdetailsList);

        $("#lostbookdetails")
           .ejGrid({
               dataSource: bookdetailsList,
               allowPaging: true,
               pageSettings: { pageSize: 3 },
               allowSelection: false,
               allowSorting: true,
               contextMenuSettings: { enableContextMenu: false },
               allowFiltering: true,
               filterSettings: { filterType: "excel" },
               allowResizing: true,
               allowEditing: false,
               allowScrolling: false,
               enableTouch: false,
               enableAltRow: true,
               load:window.GridToolTipBehavior,
               columns: [
                    {
                        headerText: "Book Id",
                        field: "BookId",
                        type: "int",
                        textAlign: ej.TextAlign.Left,
                        width: 30,
                    },
                   {
                       headerText: "Book Name",
                       field: "BookName",
                       type: "string",
                       textAlign: ej.TextAlign.Left,
                       width: 70,
                   },
                    {
                        headerText: "Fine Amount",
                        field: "FineAmount",
                        format: "{0:C2}",
                        textAlign: ej.TextAlign.Left,
                        width: 30,
                    },
                    {
                        headerText: "User Name",
                        field: "UserName",
                        type: "string",                      
                        textAlign: ej.TextAlign.Left,
                        width: 40,
                    },
                    {
                        headerText: "Issued Date",
                        field: "IssuedDate",
                        type: "date",
                        format: "{0:d MMM yyyy}",
                        textAlign: ej.TextAlign.Left,
                        width: 40,
                    },                  
               ]
           });

    });
    </script>

