<style>
    .toptext {
        margin-top: 5px;
        font-size: 25px;
        margin-left: 15px;
        color: white;
    }
</style>

<nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0; z-index: 1000; position: fixed; background:#803A79; height: 55px;">
    <div class="toptext">
        <img src="~/Images/Library-Books.png" alt="" style="margin-top: -3px;" /><b> <span style="margin-left:0px">Syncfusion Library Management</span></b>
        <span class="pull-right" style="margin-right:25px;margin-top: 2px; cursor:pointer"><img src="~/Images/Log Out.png" class="imagesetting" alt="" title="LogOut"/></span>
        <span class="pull-right" style="margin-right: 10px;font-size: 20px; margin-top: 8px;">Welcome, <span id="UserName" >@ViewBag.UserName</span></span>
    </div>
</nav>
